<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form (submit)="addOpt(option.value)">
					<div class="form-group">
						<div class="input-group-prepend">
						    <input type="text" #option  class="form-control" placeholder="Add Todo" name="todo">
							<button type="submit">Add</button>
						</div>
					</div>
				</form>			
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="data">
					<ul>
						<li *ngFor="let opt of options">{{opt}}<i class="fas fa-trash-alt basket" (click)="deleteOpt(opt)"></i></li>
					</ul>
				</div>			
			</div>
		</div>
	</div>	
</section>
