form{
 	max-width: 65em;
 	margin: 1em auto;
 	margin-top: 50px;
}

input {
	margin-right: 30px;
	height: 40px;
}

button {
	width: 100px;
}

.data li {
	border: 1px solid #e1e1e1;
	height: 70px;
	width: 100%;
	padding-left: 20px;
	padding-top: 15px;
}

.data {
	margin-left: -5px;
}

.basket {
	margin-left: 80%;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

ul {
	list-style: none;
}

.basket:hover {
	color: red;
	cursor: pointer;
}